@mixin default_font($font-size) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: 18px;
}

@mixin overline_font($font-size) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size;
  line-height: 16px;
}

$header-height: 88;
$search-block-height: 83;
$json-block-height: 166;
$json-block-gap: 17;
$json-block-width: 800;
$json-block-vertical-padding: 32;
$app-mobile-side-padding: 10;

:export {
  HEADER_HEIGHT: $header-height;
  SEARCH_BLOCK_HEIGHT: $search-block-height;
  JSON_BLOCK_HEIGHT: $json-block-height;
  JSON_BLOCK_GAP: $json-block-gap;
  JSON_BLOCK_WIDTH: $json-block-width;
  JSON_BLOCK_VERTICAL_PADDING: $json-block-vertical-padding;
  APP_MOBILE_SIDE_PADDING: $app-mobile-side-padding;
}
