@import '../layout/variables.module';

.search_block {
  display: flex;
  flex-wrap: wrap;
  height: $search-block-height + px;
}

.search_buttons {
  margin-top: 11px;

  .button {
    margin: 0 4px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}